@{
    ViewBag.Title = "Home Page";
}

    <div class="row centered">
        <div >
            <h3>
                We are happy to welcome you here!
            </h3>
            <br />
            <p>
                This site was created by a few students to help you experience your best emotions in this city.<br />
                Feel free to surf on our creation and have a nice time!
            </p>
        </div>
    </div>
    <div id="headerwrap">
    </div>

    <br />

    <div id="choice">
        <div class="container">
            <div class="row centered">
                <h4>What you want, mate?</h4>
                    
                <div class="col-md-3">
                    <div class="tilt">
                        @Html.ActionLink(
                       "Eat cheap - get cancer!", 
                       "ViewContent", 
                       "Content", 
                       new { type = "Food" }, 
                       null)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tilt">
                        @Html.ActionLink(
                       "Get relaxed and get bitches!", 
                       "ViewContent", 
                       "Content", 
                       new { type = "Rest" }, 
                       null)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tilt">
                        @Html.ActionLink(
                       "Spend time and get crippling depression!", 
                       "ViewContent", 
                       "Content", 
                       new { type = "FreeTime" }, 
                       null)
                    </div>
                </div>
            </div>
        </div>
    </div>